@page
@using ASPHue.HelperMethods
@using ASPHue.HelperMethods.TableManagement
@using libraryhue.Models.Products
@using static ASPHue.HelperMethods.SpanishTranslator
@using static ASPHue.HelperMethods.TableManagement.ColumnChecker

@model ASPHue.Pages.Rents.ProductsListModel
@{
    ViewData["Title"] = "Lista de productos";
}
<form method="get">
    <select asp-for="ProductTypeSelectedListId" asp-items="Model.productTypesSelect"></select>
    <input type="submit" class="btn" />
</form>
<h4>Viendo @GetTranslatedProductName(Model.ProductTypeSelected.Name)</h4>
@switch (Model.ProductTypeSelected.Name)
{
    case "Neoprene":
        <partial name="_NeoprenePartial" model="Model.Neoprenes"/> //Revisar los INSERTS (tabla incompleta).
        break;
    case "BCDs":
        <partial name="_BCDsPartial" model="Model.BDCs"/>
        break;
    case "Hoods":
        break;
    case "Masks":
        break;
    case "Octopus":
        break;
    case "Tanks":
        break;
    case "Fins":
        break;
    default:
        <partial name="_NeoprenePartial" model="Model.Neoprenes"/>
        break;
}










