@page
@model ASPHue.Pages.Rents.ProductsListModel
@{
    ViewData["Title"] = "Alquiler de Equipos";
}
<form method="get">
    <select asp-for="ProductTypeSelected" asp-items="Model.productTypesSelect"></select>
    <input type="submit" class="btn" />
</form>
@foreach(var product in Model.products)
{
    <h4>@product.Name</h4>
    <h4>@product.Price</h4>
}