@page
@using ASPHue.HelperMethods
@using libraryhue.Models.Products
@using static ASPHue.HelperMethods.SpanishTranslator

@model ASPHue.Pages.Products.ProductsListModel
@{
    ViewData["Title"] = "Lista de productos";
}
<form method="get">
    <select asp-for="ProductTypeSelectedListId" asp-items="Model.productTypesSelectList"></select>
    <input type="submit" value="Filtrar" class="btn" />
</form>


<h4>Viendo @GetTranslatedProductName(Model.ProductTypeSelected.Name)</h4>
@switch (Model.ProductTypeSelectedName)
{
    case "Neoprene":
    case "Hoods":
    case "Masks":
    case "Fins":
        <partial name="_ClothesPartial" model="Model" />
        break;
    case "BCDs":
        <partial name="_BCDsPartial" model="Model"/>
        break;
    case "Octopus":
        <partial name="_OctopusPartial" model="Model"/>
        break;
    case "Tanks":
        <partial name="_TanksPartial" model="Model"/>
        break;
    default:
        <partial name="_ClothesPartial" model="Model" />
        break;
}







